//Colors---------------------------

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


//base
$color-body-bg-grey: #fff;
$color-grey-body: #212121;

$color-grey-light: rgb(232, 233, 235);
$color-grey-med: #aaa;
$color-grey-dark: rgb(88, 88, 88);
$color-white: #fff;
$color-black: #000;

//Font-------------------------

//font
$font-body: 1.4rem;

//Measure-----------------------

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;